.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.fil_btn {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #cc1d86;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 504px) {
  .button-container {
    display: flex;
    justify-content: start;
    width: 100%;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
