.product-container {
  width: 85%;
  margin: -330px 5px 0px 15%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  gap: 3rem;
  padding: 10px;
}
.nomatch_alert {
  text-align: center;
  margin-top: -350px;
  min-height: 410px;
  background-color: rgb(247, 244, 241);
  padding-top: 170px;
  width: 85%;
  margin-left: 15%;
}
@media screen and (max-width: 580px) {
  .sidebar {
    display: none;
  }
  .product-container {
    margin-top: 20px;
    width: 100%;
    margin-left: -5px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-left: 2px;
  }
}
